#index{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 #customer-login-form{
    margin-top: 20%;
    margin-right: 40%;
 }

 #login-menu{
    font-size: 25px;
 }

 .username{
    width:40%;
    height: 30px;
    margin-top: 3%;
    border-radius: 5%;
    border-style: solid;
 }

 .password{
    width:40%;
    height: 30px;
    margin-top: 3%;
    border-radius: 5%;
    border-style: solid;
 }

 .login{
    width: 20%;
    font-size: 15px;
    margin-top: 3%;
    background-color: green;
    color: white;
    border-radius: 5%;
    border-style: solid;
    border-color: green;
 }

